[2016-11-25 15:44] godot882 opened #1 "Security"
Hi @aryehdesigns, thanks for this greatness, just what I was looking for. I only just started with Statamic and don't know much about Addons so please forgive me if I ask something stupid.

Is there any way I can secure these Fetch endpoints? I mean something like, access it only with a token. Can you direct me to right way?

Thanks in advance!

[2016-11-25 15:56] aryehdesigns commented on #1
Hey @godot882, that's a very good point. The current version of Fetch doesn't support any kind of restrictions or security via tokens or other means. Perhaps it's something I can look into adding in the future though probably not anytime soon.

You're more than welcome to integrate such a feature yourself and submit a pull request. I'm sure it would benefit others too!

[2016-11-28 23:20] aryehdesigns commented on #1
After a second request via Slack for an Authentication option, I went ahead and integrated 2 types:

- API Key
- IP Whitelist

These are configurable via Fetch's Addon Settings page. You can choose to use just one or both options, it's up to you!

Feel free to open another issue if you run into any bugs.

[2016-11-28 23:20] #1 closed

[2016-11-30 08:44] bognarl commented on #1
Just a question shouldn't the IP Whitelist function listen to HTTP_X_FORWARDED_FOR instead of REMOTE_ADDR?

[2016-11-30 09:13] aryehdesigns commented on #1
I've been reading a lot of different opinions about this topic. [This comment](http://stackoverflow.com/questions/15699101/get-the-client-ip-address-using-php#comment26342911_15699240) from a SO question seems to come back quite often.

IP Whitelisting is never going to be full proof, but REMOTE_ADDR seems to be the safest bet as it is harder to spoof than HTTP_X_FORWARDED_FOR.

[2016-12-08 09:27] bognarl opened #4 "Fieldtype Grid"
Hi. I just realized that if I use Grid type field in my collection Fetch only returns the last item of the array because of the `$array->collapse()` in `Fetch.php:47`.

**This is what it looks like in the md:**
[code]

**And this is what Fetch returns:**
[code]

Do you have any idea on how to prevent this? I don't want to remove `$array->collapse()` as it is really useful on other fields.

[2016-12-08 09:46] aryehdesigns commented on #4
Hmm interesting, I hadn't tested Fetch using a Grid fieldtype. Would need to run some tests to find a solution to this data structure, nothing comes to mind right now.

[2016-12-08 11:09] bognarl commented on #4
I was wondering if it is possible to examine fieldtype, but it looks like there is no API for that. Or I did not find it. I am thinking about a solution like this:

[code]

[2016-12-08 11:13] aryehdesigns commented on #4
Right, that would work if the fieldtype was returned, but entries are read directly from the yaml so that won't work unfortunately.

[2016-12-30 15:56] aryehdesigns commented on #4
Hi @bognarl, I just released v2.0 of Fetch which fixes this bug and adds support for fetching Page data. Feel free to re-open if your issue persists.

[2016-12-30 15:56] #4 closed

[2017-01-02 12:07] bognarl commented on #4
Hi @aryehdesigns, thanks for the update. I'll take a look on that.

[2017-07-19 10:05] rrelmy opened #6 "CSRF exclude should not be added multiple times"
When the system settings are saved in the cp the csrf exclude route is added multiple times

I posted sample code in the lodge thread
https://lodge.statamic.com/questions/2793-csrf-excluded-urls-bug

[2017-07-19 10:09] aryehraber commented on #6
Another great catch, thanks @rrelmy!

[2017-07-19 10:41] aryehraber commented on #6
Fixed in latest release!

[2017-07-19 10:41] #6 closed

[2017-10-02 13:44] mrkaluzny opened #7 "array_merge(): Argument #2 is not an array"
Hey!

I got a problem with `array_merge` function. Any idea what might have caused that? I would could really use some help with this.

[2017-10-02 14:58] aryehraber commented on #7
Hi @mrkaluzny!

Can you add some more details about the issue/project?

- Statamic version
- Full error stack trace
- Example of the data you're trying to access

I should mention that this Addon hasn't been tested with the latest version(s) of Statamic. There were some changes to the way Addons work in 2.6+ so this _might_ be the cause... Haven't had the time to thoroughly test yet.

[2017-10-02 15:48] mrkaluzny commented on #7
Hi @aryehraber, thanks for the reply.

Statamic version: 2.6.9
Full error stack trace: [terzakis-error.pdf](https://github.com/aryehraber/statamic-fetch/files/1349452/terzakis-error.pdf)

I'm trying to access blog collection but the error is basically the same on every request (Page or Collection). I haven't made any changes to initial settings or added any methods. So it's probably statamic versi

[2017-10-02 15:54] aryehraber commented on #7
Thanks for the details @mrkaluzny, I'll try and update my local dev environment for this Addon to the latest Statamic version soon and see if I run into the same issue.

Can't give an exact timeframe though due to work commitments. If you're up for getting your hands dirty, feel free to dive in and submit a Pull Request if you find a solution.

[2017-10-02 15:55] mrkaluzny commented on #7
@aryehraber  I'll try to find a solution to that or just build a custom addon/api endpoint for blog posts. I'll keep you posted

[2017-10-02 15:57] aryehraber commented on #7
@mrkaluzny Ok, sounds good! A temp. solution would be to downgrade Statamic to v2.5.11 which I believe is where I tested it last. Unless you're already using 2.6+ features...

[2017-10-04 09:49] aryehraber commented on #7
Hey @mrkaluzny, I just updated my local dev environment for Fetch to the latest Statamic (v2.6.9) and everything seems to be working fine.

Would you mind sharing some example entries from your Blog collection?

[2018-01-08 09:40] aryehraber commented on #7
Closing this issue as I am still not able to reproduce.

Feel free to re-open if you're still facing this problem and can supply more details (example data, etc.)

[2018-01-08 11:19] aryehraber commented on #7
After some more digging, I was finally about to reproduce. Fix coming up!

[2018-01-08 11:28] mrkaluzny commented on #7
Perfect 👍 I ended up creating an Addon on this one :)

[2018-01-08 12:49] #7 closed

[2018-01-08 12:51] aryehraber commented on #7
This issue should be fixed now.

I you ever come back to using this Addon instead of your own, let me know if you have any further issues!

[2018-05-30 14:33] edolyne opened #8 "Page Fieldtype within Replicator"
I'm running a project where I'm using a Pages fieldtype within replicator and when I access the json data only the page id is returned, rather than page data. Is it possible to modify this so that relations within replicator display their proper related item?

[2018-05-30 20:28] aryehraber commented on #8
Hi @edolyne! Fetch _should_ be fetching related data too (granted there is an id it can find). Are you using the `deep` option? https://github.com/aryehraber/statamic-fetch#settings

[2018-05-31 21:06] edolyne commented on #8
Hi @aryehraber I do have the `deep` option turned on in the CP. Right now it just appears to be returning an ID which is connected to a `.md` file

[2018-05-31 22:20] aryehraber commented on #8
Sorry, I'm not sure in that case... It's very possible something broke in the most recent version(s) of Statamic — it's been a while since I used/tested the addon myself.

I will make a note to look into this at some point, but can't promise anything short-term I'm afraid. If you are comfortable with PHP, please feel free to dive into the code and debug the issue, I'm happy to accept PRs!

[2018-06-01 03:47] edolyne commented on #8
@aryehraber No worries, my PHP skills aren't ninja level, but I was able to work through the issues I was seeing with Replicator and have them working correctly. I opened a PR reflecting the changes I made to get it working. Feel free to suggest edits if need be.

[2018-06-01 05:56] aryehraber commented on #8
Awesome thanks! I'll review this soon.

[2018-06-10 16:01] aryehraber commented on #8
Thanks again for reporting this issue and submitting the PR!

Latest release should address this issue! Please re-open if you are still seeing this bug occur.

[2018-06-10 16:01] #8 closed

[2018-06-15 12:45] pastorryanhayden opened #10 "I'm having an issue accessing collections"
When I enter the name of a collection that doesn't exist I get a "[name] doesn't exist screen" and I can get json from pages.  But when I try to get a collection it's throwing this error:
![screen shot 2018-06-15 at 7 44 05 am](https://user-images.githubusercontent.com/4194905/41468565-08aa5d7a-7070-11e8-80cc-6f134f0769d0.png)

[2018-06-15 12:47] pastorryanhayden commented on #10
By the way, what I'm trying to do is build a mapbox map using your location addon.  I really appreciate your work.  This task would be much harder without these two addons.

[2018-06-20 16:32] aryehraber commented on #10
@pastorryanhayden I'm not completely certain what you're describing above. Would you be able to supply some more details to allow me to recreate the issue (page/collection/entry config & example data).

Thanks, I'm glad to hear these addons are useful!

[2018-06-27 11:29] pastorryanhayden commented on #10
Sorry it’s taken so long to reply.
I’ve got a collection called “Missionaries” that I was planning to cast to JSON using your plugin so I could consume it via a custom Vue map component.
Inside of that collection, I am using the field provided by your location add on to get latitude and longitude by search query.
The problem could be in either repository, but when I use the fetch tag for that coll

[2018-06-27 11:36] aryehraber commented on #10
Just read your corresponding issue (https://github.com/aryehraber/statamic-location/issues/3#issue-336190468).

Can you confirm it works if you manually add quotes `""` around the positive Lat/Long values.

[2018-06-27 14:34] pastorryanhayden commented on #10
Yes it works, but I also noticed that whether or not it is saved as a string is random.  Sometimes it is, sometimes it isn’t on both negative and positive numbers.

[2018-06-27 14:37] aryehraber commented on #10
Alright, this should be enough info for more focused debugging on my end. Will hopefully be able to carve our some time for this in July.

Thanks for the help!

[2018-08-04 16:20] Burans opened #11 "Fetching a single entry."
Hi! Thanks for the awesome addon!

Is it possible to fetch a single (current) entry?

Thanks!

[2018-08-04 20:36] #11 closed

[2018-09-06 12:59] 1stevengrant opened #15 "Call to Fetch also fetches the drafts"
I would have expected Fetch to only grab entries that have actually been published.

[2018-09-06 21:32] aryehraber commented on #15
Fetch currently doesn't support any kind of filtering of data, including unpublished. This feature has been on the roadmap for some time, but due to time limitations, never came to fruition.

If you're willing/able to help, I'd be more than happy to accept a PR!

[2018-09-07 08:01] aryehraber commented on #15
It must be your lucky day... After all this time, I actually needed this feature myself today!

Running some final tests on the changes atm, and should be released later today.

[2018-09-07 09:12] aryehraber commented on #15
This feature has now been released 🎉

It should make its way to Statamic's Marketplace soon, but for now you can download the release directly using: https://github.com/aryehraber/statamic-fetch/releases/tag/v3.4

The docs have also been [updated](https://github.com/aryehraber/statamic-fetch/blob/master/DOCUMENTATION.md#options).

Feel free to re-open if you come across any issues!

[2018-09-07 09:12] #15 closed

[2018-09-07 09:19] 1stevengrant commented on #15
What a champ! Done before I even had time to chime back in. I'd love to get to building new and enhancing existing Statamic addons.

[2018-09-07 09:19] 1stevengrant commented on #15
And thank you 🎉

[2018-09-07 09:26] aryehraber commented on #15
No problem at all!

I have some big plans for the next major release, and hope to rebuild it in a much cleaner & more modular way to make it easier to add new features. Just need to find the time...

If you have any further suggestions, feel free to open up new issues and/or PRs 😄

[2018-09-18 07:37] tcagkansokmen opened #18 "How can we cache https?"
Hi

Thanks for that addon. I'm confused about caching requests.
How can I cache a request for several time?

[2018-09-27 23:24] markzegarelli opened #19 "Request an individual entry"
I saw that there was a closed ticket that relates to this, but is there way to access an individual entry? Either by ID as a parameter, or by URL (via routing)?

[2018-10-01 10:35] aryehraber commented on #19
Hi @markzegarelli, thanks for opening this issue.

This feature isn't supported yet actually, but totally should. I'll see if I can whip something some time this week (no promises), but it shouldn't be too hard to add.

[2018-10-12 14:13] #19 closed

[2018-10-16 18:35] mindmergedesign opened #22 "Cannot get Globals"
I have installed fetch on my site. I am able to access all the url endpoints (pages and collections) but I get an error when I enter the globals endpoint. /!/Fetch/globals
[code]

[2018-10-16 19:54] aryehraber commented on #22
Hey @mindmergedesign, thanks for reporting your issue. Any chance you can dig up the full log + stack trace?

[2018-10-16 22:13] mindmergedesign commented on #22
@aryehraber Here is the stack trace. Thanks for looking into this. This is an amazing addon!
[code]

[2018-10-17 08:09] aryehraber commented on #22
Hmm, from the stack trace it seems `globals` aren't available. Can you confirm you are on the latest version of Fetch?

https://statamic.com/marketplace/addons/fetch

[2018-10-17 08:12] aryehraber commented on #10
This issue has finally been fixed in v4.1.1.

Apologies for the delay!

[2018-10-17 08:12] #10 closed

[2018-10-17 08:29] rrelmy opened #25 "FR: Nested pages"
In many occasions it would be useful to be able to get the page tree instead of a flat list of pages.

[Content::tree](https://docs.statamic.com/addons/api/api-content#get-the-content-structure-tree) is able to generate a tree of pages with a specific depth.

## Proposed changes
Changes apply to the `/pages` and `/page` endpoint.

- New parameter `nested` (Default: `false` for backwards compatibil

[2018-10-17 08:32] aryehraber commented on #25
This sounds great, thanks @rrelmy! Will gladly look over a PR once ready.

[2018-10-17 13:52] mindmergedesign commented on #22
@aryehraber that was the issue! I had an older version installed (2.1). Everything is working now. Thanks again for the help and for such a nice addon. It works great!

[2018-10-17 13:53] #22 closed

[2018-10-17 16:55] aryehraber commented on #25
@rrelmy Just a heads up, I merged a PR just now that makes some internal changes to how `$data` is passed around inside of `Fetch.php` -- might want to pull latest or rebase if you've already started work on this.

[2018-11-01 14:27] craigb88 opened #28 "unexpected 'global' error"
I seem to be getting the following error.

FatalErrorException in Fetch.php line 146:
syntax error, unexpected 'global' (T_GLOBAL), expecting identifier (T_STRING)
1. in Fetch.php line 146

My ajax call is below

[code]

[2018-11-02 11:02] aryehraber commented on #28
This might be caused by the PHP version, Fetch requires PHP 7 and up. I don’t think that’s mentioned in the docs, so will make a point to add it! Could that be the case for you?

[2018-11-02 14:49] craigb88 commented on #28
I meant to come update this yesterday. I was using an old version of php updating fixed it like you said.
Thanks

[2018-11-02 14:49] #28 closed

[2018-11-05 17:33] jdsimcoe commented on #10
@aryehraber I'm not using the fetch plugin but I am using `statamic-location` and I have a similar problem of random negative `long` values being saved as strings which Mapbox is getting borked on: https://github.com/aryehraber/statamic-location/issues/3. Any ideas how to fix this in the location plugin?

[2018-11-08 12:37] ewhicher opened #29 "/entry is broken"
It seems using `/!/Fetch/entry/` does not work with Taxonomy Term data

[2018-11-08 12:50] aryehraber commented on #29
Should be fixed in latest release!

https://github.com/aryehraber/statamic-fetch/releases/tag/v4.1.3

Feel free to re-open if you're still having issues.

[2018-11-08 12:50] #29 closed

[2018-11-12 10:50] #25 closed

[2018-11-16 10:41] ewhicher opened #33 "/taxonomies and /terms seem broken"
Using either:
[code]
or
[code]
return:
`GET http://localhost:3000/!/Fetch/taxonomies 500 (Internal Server Error)`
`Error: Request failed with status code 500`

Logs show:
```production.ERROR: ReflectionException: Method Statamic\Addons\Fetch\FetchController::getTaxonomies() does not exist in {MY_PROJECT_PATH}/statamic/vendor/laravel/framework/src/Illuminate/Container/Container.php:556```

Versions

[2018-11-16 11:20] #33 closed

[2018-11-19 16:19] joshhornby opened #35 "Get posts by tag"
Hi,

Thanks for this API, it's great. Quick question is it possible to get a list of posts by tags? I don't know which collection or page the tag might be in, but I just want to return 5 posts by a certain tag.

Thanks

[2018-11-20 22:30] aryehraber commented on #35
Hey @joshhornby! This isn't possible (yet) unfortunately, we had a PR to add Taxonomy support recently but had to revert due to breaking changes. I'll be sure to update you in this issue when this gets resolved, but can't promise a timeline atm.

[2018-11-22 12:00] makkinga commented on #35
@joshhornby PR #36 should add the functionality you ask for.

[2018-11-22 12:01] makkinga commented on #18
I'll dive into this in a few days. I need some caching myself

[2018-11-27 15:58] makkinga commented on #18
@tcagkansokmen I've written the code today, as soon as @aryehraber has merged (of declined) the other open PR's I'll make a PR for this

[2018-12-17 09:49] monstromatic opened #38 "Not showing in CP addon"
Hello,

I'm using statamic 2.11.3 and the Fetch addon doesn't show up in the addon CP... I drop the Fetch folder in the addon folder as my another addons and nothing append. Even if I refresh and restart server and clear cache. When I do a query with Axios, no error but a 204 No content response on every type of data (page, globals, etc.)

[2018-12-17 09:57] aryehraber commented on #38
Are you sure you copied the correct folder into `/addons`? When downloading the addon, you don't copy the entire contents of the zip, just the inner `Fetch` folder.

[2018-12-17 10:01] monstromatic commented on #38
Yes, absolutely :-)

[2018-12-17 10:05] aryehraber commented on #38
Hmm, very odd! The addon doesn't have any dependencies, so it should _Just Work™_...

Does anything show when you visit `/!/Fetch/collection/[collection_handle_here]` in your browser? Any errors in your log file?

[2018-12-17 10:06] monstromatic commented on #38
My bad, I copy the folder in 'site/settings' instead of 'site'... so sorry about that. You can close the issue.

[2018-12-17 10:07] aryehraber commented on #38
Haha, ok no problem 😊

[2018-12-17 10:07] #38 closed

[2018-12-19 00:05] monstromatic opened #39 "Localized Collections in Global"
Hello

My global contains 2 localized collections and localized text vars. When I switch the "locale", the vars are updated but the collections stay in the default locale.

When I switch from english to french {{ fetch global="footer" locale="fr" }} => text vars change as excepted but collections don't. Any idea?

[2018-12-19 08:19] aryehraber commented on #39
Hmm, I'm not 100% sure I understand what you mean with: "My global contains 2 localized collections". Do you mean you reference collections from a Global (so it's related data)?

Can you share the **Global fieldset** and **Global data** (just sample data, doesn't haven't have to be "real") so that I can try and recreate the issue on my end.

[2018-12-19 11:37] aryehraber commented on #39
Great, thanks for the example data!

I can't make any promises in terms of timeline, but I'll try and have a look at this when I next have some time available!

[2018-12-30 14:41] fatnjazzy opened #40 "fetching collection where field=value"
Hi,
I have a collection with the field `section`.
this is how I access it: http://dev-site.test:8085/!/Fetch/collection/navigation
this is the result:
https://gist.github.com/fatnjazzy/64deff97475569acee150ab2f802b3eb#file-navigation-L73
How can I search for this: `"section": "Header",`
Im new to statamic
Thanks

[2018-12-31 08:55] avifatal opened #41 "Feature pull request"
Hi,
When fetching deep items, sometimes you can really deep and bring a huge amount of data.
For example, if you bring a collection with relation to `Page`, in most cases you just need the title.
So, how about this:

`/!/Fetch/collection/navigation?`**onlyDeepItems[page]=url,title**

So when the `relatedData` method fetching `page`, it will only bring url and title, and not the entire object.

I h

[2019-01-03 11:03] aryehraber commented on #40
Hi @fatnjazzy! Thanks for getting in touch and welcome to the Statamic community.

Unfortunately, Fetch doesn't support querying data in the way you describe, it's mostly an all or nothing situation at the moment. I'll tag this as a FR and can hopefully add support for this in the future.

[2019-01-03 11:33] aryehraber commented on #41
Hi @avifatal, thanks for opening an issue to offer a PR 😊

While I agree that this idea would be hugely useful, I'm not accepting any new PRs at this time due to Fetch not having any Test coverage, to ensure no breaking changes slip in. Also, having had a quick look at your gist, I think I'd prefer tackle the problem in a different way (had some ideas in the past but didn't have time to explore fu

[2019-01-03 11:33] #41 closed

[2019-01-05 00:16] monstromatic commented on #39
Hello,

Any update about that? The bug appears not only on globals but on pages too. It is a huge problem for my project cause I have multiple langues and a lot of collections... Maybe I can help if you say where I have to look at!

[2019-01-05 10:57] aryehraber commented on #39
Hey @monstromatic, I had a look at this today (took a while to dig up a multilingual site) but everything seems to be working as expected.

* Created a Collection with a few localised entries (used 3 languages)
* Then added a related Collection field to Globals and selected a few entries
* Visited `/!/Fetch/global/global?locale=nl` and the correct locale was shown in the data
* Created a test temp

[2019-01-05 12:04] monstromatic commented on #39
Hey! Thanks for digging! Yes I use Statamic 2.11.3 et Fetch 4.3.1.
I still have the issue, even with pages and pages with mounted collection.

"First level" data are localized as excepted but related datas with id (like: addresses_collection:
  - 31c18869-c380-41c4-8f6a-76bb69992711) are always bring back in default locale...

[2019-01-05 14:14] aryehraber commented on #39
Hmm, maybe I didn't nest deep enough. I'll try and add an additional level of related data to the entries and see if that shows the bug you are experiencing.

If not, perhaps you are able/willing to share your existing project (privately) to make the recreation process easier on my end?

[2019-01-05 14:40] monstromatic commented on #39
Thank you so much for trying! The project actually run locally but I could try to give you a kind of "package" for testing. Feel free to ask me for testing some code changes in Fetch.php in my project, I am working on it all day long 7/7...

[2019-01-05 15:47] aryehraber commented on #39
Hey @monstromatic, I did some further digging and there's definitely something funky going on when data is nested deeper than 1-2 levels. I'm not seeing your bug, but hitting something else atm.

Either way, this is currently out of scope of what I have time for unfortunately. I can take 1 final crack at it if you ZIP up your project (removing all sensitive data, e.g. passwords, keys, etc) and ema

[2019-01-08 08:55] sweebee opened #42 "Cache request"
Is it possible to cache a request? I have to return a collection with 600 items, but it takes around 15 seconds to load.

[2019-01-09 11:21] aryehraber commented on #42
Hi @sweebee, no caching layer yet I'm afraid. It's on the roadmap but without a timeline for it atm.

Closing as it's a dupe of https://github.com/aryehraber/statamic-fetch/issues/18

[2019-01-09 11:21] #42 closed

[2019-02-01 10:19] lBodia commented on #40
HI, @fatnjazzy. Try to filter it using taxonomy param. But the value should be in lowercase.

`&taxonomy=section/header`

[2019-02-06 05:02] andyra opened #45 "500 when attempting to fetch an entry"
I'm attempting to fetch an entry from its ID like so:

```{{ fetch entry="bbb21f23-48ae-499c-929d-a2cf933c4d39" }}```

and I'm getting this error:

[code]

Using the **/collection/entry-slug** syntax yields the same results. I _am_ able to successfully get a collection, however, via `{{ fetch collection="songs" }}`.

Any idea why collections would be working, but not entries?

[2019-02-06 16:42] aryehraber commented on #45
Hmm, your example tag works on my end (changing the ID of course).

Can you confirm that you're on the latest version of Fetch & Statamic?

[2019-02-06 18:56] andyra commented on #45
Ah, I downloaded Fetch from the [v3 docs](https://statamic.com/marketplace/addons/fetch/v3/docs)—good call. I'll try the newest version later tonight—thanks!

[2019-02-08 18:11] joshhornby opened #46 "Fetching posts via a custom key"
Hi,

I assume the answer is no, but is it possible to fetch a post in a collection via something other than the slug?

For example each post in my collection has a field “foo_id” which is a custom field type. The custom field type is pulling data from an external system so we can link posts together. I want to then fetch the posts that match a given “foo_id”.

If it’s not possible would you be ope

[2019-02-10 00:31] danfascia opened #47 "Ability to fetch users"
It appears Fetch currently cannot output from the users collection.

It would be really useful to add this feature. I'd like to be able to fetch the full collection in a request as well as individual user records on a single route.

This would greatly enhance the ability to use Statamic as a headless CMS

[2019-02-12 23:39] monstromatic opened #48 "Locale ignored when ?deep=false"
Hello

When deep=true is set by default in the CP and deep=false is set on a fetch request, the param locale is ignored and the default locale is fetch.

[2019-02-13 01:46] #45 closed

[2019-02-13 02:03] andyra opened #49 "500 when fetching in production"
I uploaded my Statamic site to production and I'm noticing that fetch requests are returning 500.

- Using Fetch 4.4.0 on Statamic 2.11.9
- Locally, I can visit `http://localhost:1234/!/Fetch/collection/albums` and get page full of wonderful JSON data
- In Production, if I visit `http://thiseveningsshow.com/!/Fetch/collection/albums`, I get a "Whoops, something went wrong" error and a 500 status c

[2019-02-13 11:00] aryehraber commented on #49
Just off the top of my head looking at the error, I think the PHP version on your prod server is out of date. What version are you using?

[2019-02-13 18:45] andyra commented on #49
@aryehraber Looks like the server is running PHP 5.6.

[2019-02-13 18:53] aryehraber commented on #49
Bingo, Fetch requires PHP 7+, the error should go away after upgrading. But tbh, you'll probably want to upgrade anyway since PHP 5.6 (and 7.0) have reached end of life and are no longer being supported (http://php.net/supported-versions.php).

Closing this issue for now, but feel free to reopen if this error continues after upgrading.

[2019-02-13 18:53] #49 closed

[2019-02-18 09:19] aryehraber commented on #46
Hey @joshhornby, sorry for the late reply. You are correct, this isn't currently possible.

Custom filtering has been on the roadmap for a little while now, but in anticipation for Statamic v3, I've stopped dev as there is a high chance that the addon will need to be rebuilt anyway.

If you require the feature anyway, feel free to submit a PR -- if the code is easy to follow and I can test that th

[2019-02-20 09:40] danfascia commented on #47
If you could also fetch an individual user after that it would be amazing, including their logged_in status!

That way you could truly use statamic as a backend

[2019-02-28 08:40] Roxas92 commented on #47
I'd really like to see that as well!

[2019-05-30 12:26] christoffertyrefors opened #52 "Nested Entries are not fetched."
I have categories, and each category has a Parent Category. Currently, this is the response i get (I've removed data that doesnt matter for this issue):

[code]

I.e, it fetches the first Parent but the nested ones are not fetched.

If I change line 470 in Fetch.php from
`return Content::find($value)->toArray();` to  `return $this->goDeep(Content::find($value)->toArray());` I get the correct resul

[2019-06-04 10:49] aryehraber commented on #52
Hi @christoffertyrefors! Sounds like this could potentially be a bug... Thanks for reporting and offering to submit a PR.

However, since this Addon has suffered a few unplanned breaking changes in the past due to a lack of test-coverage, and since Statamic 3 is (somewhat) around the corner, I'm afraid support and PRs are currently on hold.

I recommend you either create a fork of this repo, or si

[2019-06-13 10:03] FalkoJoseph commented on #48
Any update on this @aryehraber I'm experiencing the same issue :)

[2019-06-16 11:40] aryehraber commented on #48
While I didn't have time to thoroughly test this, I was under the impression that this PR fixed the issue: https://github.com/aryehraber/statamic-fetch/pull/51

Are you on the latest version of Fetch (v4.5)?

[2019-06-17 10:08] freshface opened #53 "Get all blog posts for a certain year"
How can i get all posts from a collection for a certain date?
The order of the posts is by date.

[2019-06-17 10:14] aryehraber commented on #53
Fetch doesn't currently support querying data (by date, or any other field).

While this feature request is similar to https://github.com/aryehraber/statamic-fetch/issues/40, I'll tag this as a FR and can hopefully add support for this in the future.

[2019-06-17 12:12] #53 closed

[2019-06-28 08:13] joshhornby opened #54 "Query a collection index"
According to the docs you can pass an `index` to a collection in order to query a collection.

Can you provide a working example of this as I can't get it to work, I've run `php please search:update collections/resources` on my resources collection. My searchable field is called `category` but when I try `collection/resources?index=category&query=foo` the whole collection is returned and no search

[2019-06-28 08:31] aryehraber commented on #54
Looks like you're not quite using this feature correctly. It's been a while since I used this myself but let me try and explain:

You can't specify the searchable field via the query -- instead you need to setup your Collection Index as per Statamic's docs: https://docs.statamic.com/search#collection-indexes.

Once that is setup, run `php please search:update collections/resources` again to re-ind

[2019-06-28 08:33] joshhornby commented on #54
Thanks for such a quick reply. I can confirm that `http://domain.com/!/Fetch/search?index=collections/resources&query=foo` works as expected.

Assume it's not possible to get a list of indexable fields back? so in my example it would be a list of `categories`

Once again thanks for the help.

[2019-06-28 08:55] aryehraber commented on #54
Great, thanks for testing! Will fix up the docs when I get a moment.

Not completely sure what you mean with "a list of indexable fields"?

[2019-06-28 08:57] joshhornby commented on #54
Sorry, I should of said a list of values from the indexable fields. So if I'm indexing `category` I want to see all the values that are indexed.

[2019-06-28 09:02] aryehraber commented on #54
Ah right, I don't think that's possible atm. Fetch doesn't currently support Taxonomies which is presumably where these categories are (or could be) stored.

[2019-06-28 11:42] #54 closed

[2019-07-11 08:18] yawuar opened #55 "Sorting Data"
Hi!

Just a small question but I'm trying to figure out how to sort my data?
I tried using `sort=publish_date:desc` in axios but that doesn't work.

In PHP it works, this is my code
[code]
But in JS it doesn't work
[code]

Do you guys know how to sort the data?

Thanks

Yawuar

[2019-07-11 09:20] aryehraber commented on #55
Hi @yawuar, I'm afraid sorting isn't supported at this moment. I'm not sure where you got this syntax from `?sort=publish_date:desc`, or perhaps it was just wishful thinking.

You'll have to do the sorting on the JS-side, here's a tweaked working example:

[code]

Tweak as needed using the `sort` docs:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort

[2019-07-11 09:26] yawuar commented on #55
Yeah it was wishful thinking :p
Thanks anyways!

[2019-07-12 13:41] #55 closed

[2019-07-24 13:57] Burans opened #56 "Problem with locales"
Hi!
I've been using Fetch for a while without any problems.
Yesterday I added a second locale to a site and got into some issues.

- Primary locale works fine.
- I'm using Fetch to output JSON in a script tag with`{{ fetch pages="{ url }" }}`
- I can access the correct localised data with`/!/Fetch/page/default-slug?locale=en` (en is the secondary locale in my case.)
- But `/!/Fetch/page/localised-

[2019-07-25 06:23] Burans commented on #56
I got it partly working by `{{ fetch pages="{default locales url}" locale="{current locale}"}}` but now all assets have wrong urls. They should stay `/assets/img/image.jpg` but they become `/locale/assets/img/image.jpg`.

Any help greatly appreciated!
Thanks!

[2019-07-30 14:36] aryehraber commented on #56
Hi @Burans, apologies for the late reply.

Locale-support was added to Fetch at a later stage by popular demand and hasn't been well tested/maintained if I'm honest...

Unfortunately, I won't be able to help here any time soon. Hope you find a solution/workaround for your issue!

[2019-08-02 03:49] zackphilipps opened #57 "image alt text"
Not seeing a way to extract image alt text from image fields in the CMS. If you could point me in the right direction, I'd be happy to open a PR.

[2019-09-06 08:27] #57 closed

[2019-10-15 23:23] jarred opened #62 "Retrieve image asset focal points?"
Thank you for creating this plugin! It has made using Statamic as a headless CMS relatively easy.

Is it possible to access the focal points of images in the JSON output?

something like

[code]

Including the `title` and `alt text` associated with an image asset would be great too.

Perhaps they should be nested? And triggered with a parameter as to not break existing implementations?

eg `/!/Fet

[2019-10-16 08:06] aryehraber commented on #62
Hi @jarred! There's an Assets endpoint that you can use (just noticed it's undocumented) which should return all the asset details you need (alt text, focal point, and more).

To fetch all assets you can use `/!/Fetch/assets` (accepts an optional `container` query param), or to fetch a specific asset you can use `/!/Fetch/asset` passing an `id` query param, like so: `/!/Fetch/asset?id=main::img/ba

[2019-10-16 09:23] jarred commented on #62
Thanks @aryehraber! I can make do with this.

[2019-10-16 09:23] #62 closed

[2019-10-17 19:59] stillzombie opened #63 "json Forms"
I dont know if this add-on can handle forms or not, i tried on page with a form and it seems it ignores completely the form, or maybe i just dont know how to do it, any advice on how to achieve this or is any plan for pr for this feature ?

[2019-10-18 13:41] aryehraber commented on #63
Hi @stillzombie!

Form handling over ajax is actually possible in Statamic out-of-the-box 😊

I'm not sure if it's properly documented but you essentially POST to `/!/Form/create` with a few additional hidden (& encypted) params that Statamic requires to figure out which Formset the submission is meant for, etc. Getting the encryped params from Statamic is the tough part if you're using Statamic in

[2019-10-18 13:55] stillzombie commented on #63
Thanks having a Formset endpoint will be great, if need any help with a pr. i will glad to help

[2019-10-18 14:06] aryehraber commented on #63
Thanks for the PR offer! I actually have some code laying around _somewhere_ since I needed this for a project a while ago but never officially pushed it to Fetch (you're the first dev to ask for this feature 😉). I'll try and get it up for you asap!

[2019-10-19 10:47] aryehraber commented on #63
Just pushed a new release (v4.9) that adds support for fetching Formsets!

Also updated the [docs with an example](https://github.com/aryehraber/statamic-fetch/blob/master/DOCUMENTATION.md#formset-examples), feel free to comment here or open a new issue if anything is unclear or doesn't work.

[2019-10-19 10:47] #63 closed

[2019-10-19 12:29] stillzombie commented on #63
Fantastic, thanks a lot

[2019-10-19 12:39] stillzombie commented on #63
Works perfectly.
What would you recommend to do, if i have a contact page and i want to fetch all the data in json from there, including the form attached to this page, how would you handle this situations for example?

[2019-10-19 12:53] aryehraber commented on #63
Assuming with "fetch all the data in json" you mean fetch the formset's fields, you could do something like:

[code]

If you're using something like Vue or React, you could make `fields` a reactive property which you can then setup to automatically populate the form in your template.

I guess you've already seen this from testing, but here's an example of the output from my test contact formset:

[2019-10-29 15:20] grideca commented on #18
Hi @makkinga,
Awesome that you already have the code!
I would be interested in this feature. Could you possibly create a PR now?
thanks :)

[2019-10-29 15:21] bendeca commented on #18
Hi @makkinga ,
Awesome that you already have the code!
I would be interested in this feature. Could you possibly create a PR now?
thanks :)

[2019-10-31 09:48] makkinga commented on #18
Hi @bendeca,

It has been a while since i've worked on this and I lost access to the code I mentioned above when I started working for another company a while ago.
Luckily it wasn't too hard to reproduce. I'll have a look into it today. I expect to make a PR before the end of the day.

[2019-11-08 16:42] #18 closed

[2019-11-11 09:40] wanze opened #66 "Stache cleared on every request"
This was a tough one to find 😅

### Problem

The addon modifies Statamic's config at runtime in `FetchServiceProvider::boot` by adding `/!/Fetch*` to `system.csrf_exclude`. On each request, Statamic also checks if the stache should be cleared due to config changes. Statamic checks if the config in the stache is equal with the config on the filesystem. If not, the stache is cleared. This check is p

[2019-11-11 10:04] aryehraber commented on #66
Hi @wanze, thank you very much for bringing this to my attention!

I'm curious though, wouldn't the check on boot work as expected after the first request has taken place (where `system.csrf_exclude` has been modified)? After Fetch adds the `/!/Fetch` route once, the system config shouldn't be getting changed again.

It sounds like you've been doing some digging here, what's the best way for me to

[2019-11-11 12:55] wanze commented on #66
Hi @aryehraber

I think the configuration is only modified at runtime but not persisted. So the problem happens again in the next request. Just checked the `Statamic\API\Config` facade and it seems that you need to call `Config::save` to persist config changes on the file system. Fetch only uses `Config::set`. Maybe this was changed in Statamic?

You can reproduce it like this:

1. Remove `/!/Fetc

[2019-11-11 13:25] aryehraber commented on #66
Thanks for another detailed answer @wanze, sounds like this might be the reason:

I've just pushed a branch with the fix, would you mind testing before I release this? No rush, whenever you have time!

Direct download: https://github.com/aryehraber/statamic-fetch/archive/fix/save-config.zip

[2019-11-12 08:23] wanze commented on #66
I just tested your fix locally and it works as expected, the url is now also saved in the config file.  🎉
Guess this can be closed then - thanks! :)

Cheers

[2019-11-12 08:25] aryehraber commented on #66
Perfect, thanks for testing (and pretty much debugging this whole issue) @wanze, very much appreciated! Will officially release the fix later today 🎉

[2019-11-12 09:02] #66 closed

[2019-12-18 21:35] ryangittings opened #69 "TokenMismatchException with formset"
Hey,

I get `{"exception":"TokenMismatchException","redirect":"mydomain.com\/cp\/auth\/login?expired=1"}` when submitting to `/!/Form/create` as per your docs (probably me doing something wrong).

Any reason why this would be? I'm successfully getting the params from the `/!/Fetch/formset/contact`, and submitting that. Any help would be much appreciated!

[2019-12-18 21:54] ryangittings commented on #69
Ah, I've disabled csrf for that route, and now works. Is that the best solution here?

[2019-12-19 15:09] aryehraber commented on #69
Hi @ryangittings! Yes, disabling CSFR tokens for that route is correct.

The `/!/Form/create` route is a core Statamic feature, all that `/!/Fetch/formset/contact` does is return the formset params needed by Statamic to save submissions to the correct formset, Fetch doesn't actually touch form submissions in any way.

[2019-12-19 15:09] #69 closed

[2020-01-28 00:14] cgrisar opened #70 "JSON to HTML"
Hi,

I'm using Fetch with Axios in vuejs.

Instead of returning JSON, I'd like to show the result of a collection in HTML-format, using one of the templates I created. How can I achieve that?

Charles

[2020-01-28 14:54] aryehraber commented on #70
Hi @cgrisar, I'm afraid Fetch strictly enables your Statamic site to become a JSON API, it isn't meant for your use case.

Having said that, you may be able to build something out yourself using core Statamic by exposing a few endpoints (via `routes.yaml`) which point to some minimal templates (with some params, if needed) that simply return HTML, and then calling those endpoints via Axios.

[2020-01-28 14:54] #70 closed

[2020-01-28 16:20] cgrisar commented on #70
Yes, indeed.

That’s what I eventually came up with:
Create a template and work my way through with wildcards in the url to narrow down the selection of a collection using filters

Thanks

Charles Grisar

[2020-04-14 10:38] felixtosh commented on #56
@Burans I think this is normal behaviour inside Statamic and can be easily fixed with a symlink -> https://docs.statamic.com/localization#locales (search symlink)

[2020-06-25 22:01] maryzhenghan opened #71 "Basic call not working"
Hi,

Just curious if this add-on is still working. I tried with this URL as a GET request in Postman

`http://localhost:3000/!/Fetch/pages`

and am getting a 504.

[2020-06-26 08:25] aryehraber commented on #71
Hi @maryzhenghan! Hmm the addon _should_ still be working on latest Statamic V2, can you confirm the version you are running?

[2020-06-27 00:01] maryzhenghan commented on #71
@aryehraber We're running 2.11.19!

Also tried it as a POST request, and to some other URLs like

`http://localhost:3000/!/Fetch/collections/blog` ... got a 504 each time, though our local server was up and running.

[2020-06-27 12:27] aryehraber commented on #71
@maryzhenghan Ok thanks for confirming!

Can you check that Fetch is installed correctly via Statamic’s CP in the Addons list: `/cp/configure/addons`

If installed correctly, what do you see when you visit the Fetch endpoints (eg: blog collection) directly in the browser (not using Postman)?

[2020-06-29 21:11] maryzhenghan commented on #71
@aryehraber Confirmed that it's installed on the CP Addons list! I see `Fetch v4.5`, with a checkmark under the `Installed` column. Let me know if I should be looking for anything else.

As for visiting the endpoints directly, I'm seeing a Statamic error message:

`Exception in StatamicController.php line 128:
Method Statamic\Addons\Fetch\FetchController::getCollections() does not exist`

I inheri

[2020-06-29 21:25] aryehraber commented on #71
@maryzhenghan Ah! I think that answers it, the current version is `v4.10.1`!

Would you mind downloading the latest version of [Fetch on the Marketplace](https://statamic.com/marketplace/addons/fetch) and trying again? Should literally be able to delete `Fetch` from the addons folder and replacing with the new `Fetch` addon folder.

[2020-06-29 23:04] maryzhenghan commented on #71
@aryehraber Hi Aryeh, thanks for the tip. I updated but got the same message as the above:

`Exception in StatamicController.php line 128: Method Statamic\Addons\Fetch\FetchController::getCollections() does not exist`

[2020-06-30 05:55] aryehraber commented on #71
Looking at the error more closely, I think the URL might be wrong, `getCollections` is not a method, it should be `getCollection` (without the `s`).

Can you try: `/!/Fetch/collection/blog` (removes the `s` from your earlier example).

[2020-07-01 01:09] maryzhenghan commented on #71
@aryehraber Gotcha - I tried it and am now just getting a 504 Gateway Timeout.

[2020-07-01 05:45] aryehraber commented on #71
Hmm ok, I’m honestly not sure at this point...

Are you able to share the project with me? Either by temporarily inviting me to the GH repo, or by sending a zip via email (excluding large folders like `/assets`, `/node_modules`, etc)? Also please remove and sensitive data if there is any!

[2020-07-01 22:53] maryzhenghan commented on #71
@aryehraber would exporting a sample collection type (or all the collection types) be sufficient? The repo is pretty large so I'd love to just send what we need to over!

[2020-07-02 07:03] aryehraber commented on #71
@maryzhenghan Yeah it's fine to strip the site down if it's large. However, I need a working site to be able to debug properly, I suggest you remove the following if possible:

- `/assets`
- `/local`
- `/img` (cached image folder if exists)
- `/node_modules` (if exists)
- `/site/content/themes/{theme_name}`

It would be best to keep all content there, but if you feel you want to remove certain col

[2020-07-06 23:07] maryzhenghan commented on #71
Hi @aryehraber , sent you an email! Thanks so much.

[2020-07-07 08:28] aryehraber commented on #71
@maryzhenghan Thanks for sending it through, I'll reply over email to ensure no sensitive info is shared here.

I will say that everything seems to be working as expected on my end, I'm able to fetch `/!/Fetch/pages`, `/!/Fetch/collection/blog`, and more. Each of the `data` blocks contained all the page/entry data as expected (hidden in screenshots):

<img src="https://user-images.githubuserconten

[2020-07-07 08:28] #71 closed, assigned to nobody

[2021-03-08 21:20] rrelmy opened #72 "Addon causes stache to be cleared on multi-locale site if csrf exclude is not configured"
The `Config::set` in the service provider can cause the stache to be cleared

*Precondition*
- Multiple locales configured
- Only main locale path is in the csrf exclude settings (`/!/Fetch/*`)

*Steps to reproduce*
- Request a page on the main locale
- Request a page on the secondary locale

The stache will be cleared (check `StacheServiceProvider::clearOnConfigChange`) on every request if the lo

[2021-03-08 21:22] rrelmy commented on #72
I just realised this is a duplicate of #66 and the issue has been fixed in a version I did not yet install 🤦

[2021-03-08 21:22] #72 closed, assigned to nobody

[2021-03-08 21:30] aryehraber commented on #72
Hey @rrelmy, been a while, hope all is well! Glad you were able to solve by simply updating to latest version 👍

[2021-09-01 14:34] adxmcollins commented on #39
I ran into a very similar issue to the one described above, and I was able to resolve it with a very small change to `Fetch.php`.

I doubt it will be any help to OP after all this time, but below is the fix anyway:

In the `relatedData($value, $key)` function, change

[code]

to

[code]

[2022-02-01 15:01] wanze opened #73 "Filter by published/unpublished does not work for localized data"
### Description

Fetch returns unpublished content when using `filter=published` in combination with non-default `locale`. For example, a call to
`!/Fetch/collection/project?&limit=6&offset=0&locale=fr&filter=published` will return unpublished entries of the `project` collection for French.

### Problem

`Fetch::filterData()` does not respect localized data. Thus, filtering by published status is

[2022-02-04 09:05] aryehraber commented on #73
Hi @wanze, thanks for bringing this to my attention! To be honest, I don't really actively maintain this addon anymore since the release of Statamic 3. I'm happy to merge a PR with this change as at first glance this seems fine to me. Thanks!